@import "../../styles/_vars.sass";

.configuration {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @media (max-width: 930px) {
    flex-direction: column;
    align-items: center;
  }
  // @media (max-width: 930px) {
  //   // flex-direction: column;
  //   align-items: flex-start;
  // }
}
.configuration__user__socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
  .configuration__user__social {
    margin-right: 4px;
    margin-left: 4px;
    cursor: pointer;
  }
}
.configuration__back {
  color: var(--text-shade);
  font-family: "DMSans";
  font-size: 16px;
  position: absolute;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
  transform: translateX(-120px);
  //   margin-top: 48px;
  @media (max-width: 730px) {
    transform: translateX(0px);
    position: relative;
    div {
      display: none;
    }
  }
}
.first__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.configuration__top {
  display: flex;
  align-items: center;
  margin-top: 32px;
  img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 16px;
  }
  @media (max-width: 730px) {
    margin-top: 0px;
  }
}
.configuration__top__title {
  color: var(--text-main);
  font-family: "Syne";
  font-size: 48px;
  font-style: normal;
  font-weight: bold;
  line-height: 56px; /* 116.667% */
  white-space: nowrap;
  letter-spacing: -0.96px;
  @media (max-width: 730px) {
    font-size: 32px;
  }
  @media (max-width: 450px) {
    font-size: 26px;
    align-self: flex-start;
  }
}
.configuration__user {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .configuration__user__avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }
  .configuration__user__name {
    color: var(--text-main);
    font-family: "DMSans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 140% */
    letter-spacing: -0.2px;
    margin-top: 8px;
  }
}
.configuration__text {
  color: var(--text-shade);
  text-align: center;
  font-family: "DMSans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  letter-spacing: -0.12px;
}
.configuration__info {
  padding: 24px;
  border-bottom: 1px solid var(--border);
  margin-bottom: 24px;
  @media (max-width: 700px) {
    padding:8px;
  }
}
.max__button {
  color: var(--text-main);
  font-family: "DMSans";
  font-size: 14px;
  font-style: normal;
  border-radius: 100px;
  border: 1px solid $green;
  outline: none;
  background: transparent;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 8px;
  margin-left: 36px;
  transform: translateY(-10px);
  align-self: center;
  padding-right: 8px;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.14px;
}
.configuration__wrapper {
  background-color: var(--background-pages);
  border-radius: 32px;
  padding-bottom: 16px;
  max-width: 535px;
  margin-top: 32px;
  margin-right: 24px;
  @media (max-width: 930px) {
    margin-right: 0px;
    max-width: 360px;
    padding-left: 20px;
    padding-right: 20px;
  }

}
.configuration__col__second {
  background-color: var(--background-pages);
  border-radius: 32px;
  padding: 8px;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 16px;
  margin-top: 24px;
}
.configuration__button {
  width: 100%;
  height: 48px;
  margin-top: 32px;
}
.configuration__row {
  display: flex;
  justify-content: space-between;
  margin-left: 16px;
  margin-right: 16px;
  align-items: center;
  border-radius: 16px;
  background: var(--background-row);
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 8px;
  height: 40px;
}
.configuration__row__title {
  color: var(--text-shade);
  font-family: "DMSans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.14px;
}
.configuration__row__value {
  color: var(--text-main);
  font-family: "DMSans";
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.14px;
}
.subscription {
  color: var(--text-main);
  text-align: center;
  font-family: "DMSans";
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: -0.16px;
}
.time {
  color: var(--text-main);
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 16px;
  font-family: "DMSans";
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 26px; /* 144.444% */
  letter-spacing: -0.18px;
  span {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: rgba(166, 208, 0, 0.25);
    margin-left: 4px;
    margin-right: 4px;
  }
}
.second__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.second__block__top {
  background-color: var(--background-pages);
  border-radius: 32px;
  min-width: 347px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  margin-top: 120px;
  @media (max-width: 930px) {
    margin-top: 32px;
  }
}
