.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner__logo {
  width: 278px;
  margin-top: 51px;
}
.banner__twitter {
  position: absolute;
  pointer-events: none;
  display: flex;
  justify-content: center;
  margin-top: 8px;
  margin-left: 8px;
  align-items: center;
  width: 32.092px;
  height: 32.092px;
  flex-shrink: 0;
  border-radius: 3.469px;
  background: rgba(238, 254, 59, 0.1);
}
.banner__title {
  font-family: "DMSans";
  margin-top: 171px;
  font-weight: bold;
  width: 100vw;
  text-align: center;
  font-size: 76.88px;
  @media (max-width: 800px) {
    font-size: 40px;
  }
}
.banner__early {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img {
    margin-top: -20px;
    border-bottom: 1px solid #cdcdcd;
  }
}
.banner__whitelist {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner__title__auth {
  margin-bottom: 113px;
}

.banner__title__connection {
  margin-bottom: 80px;
}
.banner__title__connected {
  margin-bottom: 65px;
}
.banner__join {
  text-align: center;
  font-family: "Manrope";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 23px;
}
