@import "../../styles/_vars.sass";
.footer__container {
  position: fixed;
  bottom: 0;
  top: auto;
  width: 100vw;
  left: 0;
  height: 85px;
  background: var(--background-row);
  display: none;
  @media (max-width: 1000px) {
    display: block;
  }
}
.footer__mobile {
  display: flex;
  height: 85px;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 15px;
}
.footer__link {
  border-radius: 100px;
  height: 36px;
  width: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "DMSans";
  color: var(--text-shade);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  letter-spacing: -0.12px;
}
.footer__link__active {
  background: var(--hover);
  color: var(--text-main) !important;
  font-weight: bold !important;
}
