@import "../../styles/_vars.sass";
.footer__container {
  position: fixed;
  bottom: 0;
  top: auto;
  width: 100vw;
  left: 0;
  height: 56px;
  background: #fbfbfb;
  display: none;
  @media (max-width: 1000px) {
    display: block;
  }
}
.footer__mobile {
  display: flex;
  height: 56px;
  justify-content: space-between;
  align-items: center;
}
.footer__link {
  border-radius: 100px;
  height: 36px;
  width: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $grey;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  letter-spacing: -0.12px;
}
.footer__link__active {
  background: #f1f1f1;
  color: $black !important;
  font-weight: bold !important;
}
