@import "../../styles/_vars.sass";

.page__container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  background: var(--background);
  background-size: cover;
  justify-content: center;
  // overflow-x: hidden;
  // height: auto;
  min-height: 100vh;
  // height: fit-content;
}
.page__open {
  @media (max-width: 1000px) {
    margin-top: 70px;
  }
}
.page__bg {
  position: fixed;
  top: 0;
  width: 100vw;
  background: var(--background);
  z-index: -1;
  height: 100vh;
}
.change__account {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: var(--text-main);
  text-align: center;
  font-size: 24px;
  font-family: "DMSans";
  font-weight: bold;
  @media (max-width: 616px) {
    font-size: 16px;
  }
}
