.profile__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Manrope";
  margin-bottom: 70px;
}
.profile__page {
  display: flex;
}
.profile__side {
  margin-top: 149px;
  margin-right: 49px;
  margin-left: -220px;
}
.profile__posts {
  margin-top: 26px;
}
.profile__separator {
  width: 100%;
  height: 1px;
  background-color: #E1E1E1;
  margin-top: 32px;
}
.profile__earn {
  color: #374957;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-top: 23px;
}
.profile__ep {
  color: #374957;
  font-family: "Manrope";
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
}
.profile__money {
  line-height: 24px;
}
.profile__link {
  width: 178px;
  color: #374957;
  font-family: "Manrope";
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  height: 60px;
  border-radius: 32px;
  background: #fcfcfd;
  box-shadow: 0px 12px 24px 0px rgba(31, 47, 70, 0.1);
  backdrop-filter: blur(49px);
  display: flex;
  justify-content: center;
  margin-bottom: 13px;
  align-items: center;
  img {
    margin-right: 5px;
  }
}
.profile__row {
  display: flex;
  justify-content: space-between;
}
.profile__balance {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.profile {
  width: 522px;
  padding: 23px;
  border-radius: 32px;
  background: #fcfcfd;
  box-shadow: 0px 12px 24px 0px rgba(31, 47, 70, 0.1);
  backdrop-filter: blur(49px);
  margin-top: 34px;
}
.profile__title {
  color: #23262f;
  font-family: "DMSans";
  font-size: 32px;
  font-weight: bold;
  display: flex;
  align-items: center;
  line-height: 40px;
  img {
    margin-right: 11px;
  }
}
.profile__subtitle {
  color: #777e90;
  font-size: 14px;
  margin-top: -3px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.profile__tech {
  margin-top: 40px;
}
.profile__fees {
  margin-bottom: 30px;
}
.profile__stat {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  border-radius: 12px;
  border: 1px solid #e1e1e1;
  background: #fff;
  margin-top: 8px;
}
.profile__stat__name {
  color: #23262f;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile__stat__value {
  color: #23262f;
  text-align: center;
  font-weight: bold;
  line-height: 16px; /* 114.286% */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile__stats {
  margin-bottom: 34px;
}
.profile__face {
  display: flex;
  align-items: center;
  img {
    margin-right: 5px;
  }
}
.profile__user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  background: #eaf5ee;
  margin-bottom: 8px;
  padding: 6px;
  padding-left: 12px;
}
.profile__name {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  line-height: 16px; /* 114.286% */
}
.profile__nick {
  color: #424242;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
}
.profile__price {
  width: 110px;
  height: 40px;
  background-color: #ffffff;
  color: #45b26b;
  text-align: center;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  line-height: 16px;
}
.profile__button {
  display: flex;
  width: 110px;
  cursor: pointer;
  height: 40px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: #45b26b;
  color: #fff;
  text-align: center;
  font-family: "Manrope";
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  outline: none;
  border: none;
  line-height: 16px;
  margin-left: 9px;
}
.profile__title__main {
  color: #374957;
  font-family: "DMSans";
  margin-top: 75px;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}
.profile__logout {
  margin-top: 27px;
  color: #b23030;
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
