.main__page {
  display: flex;
  flex-direction: column;

  @media (max-width: 700px) {
    width: 100%;
  }
}
.explore__page {
  display: flex;
  flex-direction: column;
  width: 616px;
  min-height: calc(100vh - 76px);
  @media (max-width: 616px) {
    max-width: calc(100%);
    margin-top: 24px;
  }
}
.explore__row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 16px;
  font-family: "DMSans";
  align-items: center;
  margin-top: 30px;
  input {
    font-size: 16px;
    width: 250px;
    font-family: "DMSans";
  }
  div {
    margin-left: 10px;
  }
}
.explore__type {
  margin-top: 48px;
  margin-bottom: 24px;
}
.finance__page {
  min-height: calc(100vh - 76px);
}
