.main__page {
  display: flex;
  flex-direction: column;

  @media (max-width: 700px) {
    width: 100%;
  }
}
.explore__page {
  display: flex;
  flex-direction: column;
  max-width: 616px;
  min-height: calc(100vh - 76px);
  @media (max-width: 700px) {
    max-width: 100%;
  }
}
.finance__page {
  min-height: calc(100vh - 76px);
}