@import "../styles/_vars.sass";

.buy {
  width: 418px;
  height: 517px;
  border-radius: 32px;
  background: #fff;
  padding: 24px;
  padding-left: 0px;
  padding-right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.buy__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buy__button {
  width: 370px!important;
  height: 56px;
}
.update__button {
  width: 370px!important;
  height: 48px!important;
  background-color: transparent!important;
  border: 1px solid $green!important;
  margin-bottom: 8px;
}
.buy__title {
  font-family: "Syne";
  font-size: 32px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 40px; /* 125% */
  letter-spacing: -0.64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e2e3e2;
  margin-bottom: 24px;
}
.buy__amount {
  border-radius: 16px;
  background: #f8f8f8;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 12px;
  margin-right: 24px;
  margin-left: 24px;
}
.buy__amount__title {
  color: $grey;
  font-size: 12px;
  line-height: 18px; /* 150% */
  letter-spacing: -0.12px;
}
.buy__amount__value {
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
}
.buy__user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 24px;
}
.buy__status {
  display: flex;
  align-items: center;
}
.buy__avatar {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}
.buy__user__left {
  display: flex;
  align-items: center;
}
.buy__user__name {
  color: $black;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: 28px; /* 140% */
  letter-spacing: -0.2px;
  margin-bottom: 6px;
}
