@import "../styles/_vars.sass";

.buy {
  width: 418px;
  height: 517px;
  border-radius: 32px;
  background: var(--background-pages);
  padding: 24px;
  padding-left: 0px;
  padding-right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 616px) {
    width: 100vw;
    height: 100vh;
    border-radius: 0px;
  }
}
.image__container {
  max-width: 90vw;
  width: fit-content;
  display: flex;
  height: 90vh;
  // margin-top: 5vh;
  .image {
    object-fit: contain;
    width: 95%;
    object-position: top center;
  }
  .close {
    margin-left: 5px;
    width: 24px;
    height: 24px;
  }
  @media (max-width: 550px) {
    width: 100vw;
  }
}
.trade {
  width: 418px;
  height: 399px;
  border-radius: 32px;
  background: var(--background-pages);
  padding: 24px;
  padding-left: 0px;
  padding-right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 616px) {
    width: 100vw;
    height: 100vh;
    border-radius: 0px;
  }
}
.buy__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buy__button {
  width: 370px !important;
  height: 56px;
}
.update__button {
  width: 370px !important;
  height: 48px !important;
  background-color: transparent !important;
  border: 1px solid $green !important;
  margin-bottom: 8px;
  color: var(--text-shade)!important;
}
.buy__title {
  font-family: "Syne";
  font-size: 32px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 40px; /* 125% */
  letter-spacing: -0.64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border);
  margin-bottom: 24px;
}
.buy__amount {
  border-radius: 16px;
  background: var(--background-row);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 12px;
  margin-right: 24px;
  margin-left: 24px;
}
.buy__amount__title {
  color: var(--text-shade);
  font-size: 12px;
  line-height: 18px; /* 150% */
  letter-spacing: -0.12px;
}
.buy__amount__value {
  font-size: 16px;
  color: var(--text-main);
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
  border: none;
  outline: none;
  background: transparent;
}
.buy__user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 24px;
}
.buy__status {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.buy__own {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.sell__button {
  width: 370px !important;
  height: 56px;
  background-color: #ef5da8 !important;
  color: white !important;
}
.buy__avatar {
  width: 40px;
  height: 40px;
  margin-right: 8px;
  border-radius: 100%;
}
.buy__user__left {
  display: flex;
  align-items: center;
}
.buy__user__name {
  color: var(--text-main);
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: 28px; /* 140% */
  letter-spacing: -0.2px;
  margin-bottom: 6px;
}
