@import "../../styles/_vars.sass";

.nots {
  position: absolute;
  border-radius: 32px;
  background: #fff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.1);
  margin-left: -400px;
  padding-top: 24px;
  width: 444px;
  z-index: 200;
  @media (max-width: 1000px) {
    width: 100vw;
    top: 0;
    left: 0;
    margin-left: 0px;
    height: 100vh;
    border-radius: 0px;
  }
}
.nots__button {
  background: none;
  border: 1px solid $green;
  width: 135px;
  height: 40px;
}
.nots__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
}
.nots__mention {
  padding: 24px;
}
.nots__one__text {
  color: $black;
  font-family: "DMSans";
  font-size: 16px;
  overflow: hidden;

  font-weight: bold;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
  a {
    color: $black;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
.nots__one__price {
  color: #219653;
  font-family: "DMSans";
  font-size: 14px;
  margin-right: 8px;
  font-style: normal;
  font-weight: bold;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.14px;
  @media (max-width: 616px) {
    display: none;
  }
}
.nots__one__price__mobile {
  color: #219653;
  font-family: "DMSans";
  font-size: 14px;
  display: none;
  justify-content: center;
  margin-right: 8px;
  font-style: normal;
  font-weight: bold;
  width: 100%;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.14px;
  @media (max-width: 616px) {
    display: flex;
  }
}
.activity__one__left {
  display: flex;
}
.activiy__one__price__sell {
  background: rgba(239, 93, 168, 0.2) !important;
}
.activiy__one__price {
  display: flex;
  align-items: center;
  border-radius: 100px;
  background: rgba(166, 208, 0, 0.2);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  white-space: nowrap;
  padding-right: 8px;
  color: $black;
  text-align: right;
  font-family: "DMSans";
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
  img {
    margin-right: 4px;
  }
  @media (max-width: 616px) {
    display: none;
  }
}
.activiy__one__price__mobile {
  display: none;
  align-items: center;
  border-radius: 100px;
  background: rgba(166, 208, 0, 0.2);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  white-space: nowrap;
  padding-right: 8px;
  color: $black;
  text-align: right;
  font-family: "DMSans";
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
  img {
    margin-right: 4px;
  }
  @media (max-width: 616px) {
    display: flex;
    justify-content: center;
  }
}
.activity__one__container {
  background-color: #f8f8f8;
  border-radius: 16px;
}
.activity__one {
  display: flex;
  min-height: 60px;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
  padding-right: 16px;
  background-color: #f8f8f8;
  cursor: pointer;
  &:hover {
    background: #f1f1f1;
  }
  margin-top: 16px;
  @media (max-width: 1000px) {
    min-height: 60px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
.nots__one__price__page {
  border-radius: 100px;
  background: rgba(166, 208, 0, 0.2);
  display: flex;
  align-items: center;
  padding: 4px 8px;
  justify-content: center;
  color: var(--Black, #151614);
  font-family: "DMSans";
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: -0.16px;
  img {
    margin-right: 4px;
  }
  @media (max-width: 616px) {
    display: none;
  }
}
.nots__one__price__page__mobile {
  display: none;
  border-radius: 100px;
  background: rgba(166, 208, 0, 0.2);
  align-items: center;
  padding: 4px 8px;
  width: 100%;
  justify-content: center;
  color: var(--Black, #151614);
  font-family: "DMSans";
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: -0.16px;
  @media (max-width: 616px) {
    display: flex;
  }
}
.nots__one__page__container {
  background: #f8f8f8;
}
.nots__one__page {
  display: flex;
  justify-content: space-between;
  height: 60px;
  border-radius: 16px;
  padding-right: 16px;
  padding-left: 16px;
  background: #f8f8f8;
  align-items: center;
  border-radius: 16px;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 16px;
  &:hover {
    background: #f1f1f1;
  }
  @media (max-width: 616px) {
    height: 80px;
  }
}
.nots__one {
  display: flex;
  height: 60px;
  align-items: center;
  border-radius: 16px;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 16px;
  &:hover {
    background: #f1f1f1;
  }
  @media (max-width: 616px) {
    height: 80px;
  }
}
.nots__one__info {
  display: flex;
}
.nots__one__time {
  color: $grey;

  /* Paragraphs/P4 */
  font-family: "DMSans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.14px;
}
.activiy__one__time {
  color: $grey;
  font-family: "DMSans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.14px;
}
.activiy__one__users {
  margin-left: 16px;
  margin-right: 12px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  img {
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 100%;
    &:nth-child(2) {
      margin-left: -25px;
    }
  }
}
.nots__col {
  max-height: 350px;
  overflow-y: auto;
  margin-bottom: 24px;
  &::-webkit-scrollbar {
    width: 15px;
    margin: 15px;
  }
  &::-webkit-scrollbar-thumb {
    border: 5px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: #aaaaaa;
  }
  @media (max-width: 1000px) {
    max-height: calc(100vh - 160px);
  }
}
.nots__close {
  display: none;
  width: 24px;
  height: 24px;
  @media (max-width: 1000px) {
    display: block;
  }
}
.nots__one__user {
  display: flex;
  align-items: center;
}
.nots__one__users {
  margin-right: 16px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  min-width: 72px;
  img {
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 100%;
    &:nth-child(2) {
      margin-left: -8px;
    }
  }
  @media (max-width: 616px) {
    margin-right: 0px;
  }
}
.nots__title {
  color: $black;
  padding-left: 24px;
  padding-right: 24px;
  /* Header/H4 */
  font-family: "Syne";
  font-size: 32px;
  font-style: normal;
  font-weight: bold;
  line-height: 40px; /* 125% */
  letter-spacing: -0.64px;
  width: 100%;
  border-bottom: 1px solid #e2e3e2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
